* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background: url('https://images7.alphacoders.com/539/thumb-1920-539791.jpg')
    center center fixed no-repeat;
  background-size: cover;
  overflow: hidden;
}
button,
input {
  font-family: 'Exo 2', sans-serif;
}

.container {
  display: grid;
  /* user-select: none; */
  margin-left: auto;
  margin-right: auto;

  width: 335px;
  /* background-color: blue; */
}
.calculator--section {
  padding-top: 30px;
  position: relative;
  height: 100vh;
}
@media screen and (min-width: 375px) {
  .container {
    width: 355px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Notification  */
.error-notification-modal {
  display: flex;
  position: absolute;
  padding: 30px;
  bottom: 20px;
  right: 0;
  width: 500px;
  border-radius: 5px;
  transform: translateX(100%);

  background-color: #fff;
  color: red;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.error-notification-modal.isVisible {
  bottom: 20px;
  right: 0;
  width: 500px;
  transform: translateX(-10px);
}
.error-notification-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
.error-notification-text {
  padding-left: 100px;
  font-size: 30px;
}

/* .authors {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
  font-size: 14px;
}
.authors p {
  font-weight: bold;
} */

.calculator {
  margin: 0 auto;
  padding: 10px;
  border: 4px solid #021a48;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgb(0, 2, 0, 0.75);
}
.calc-screen {
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
  position: relative;
  border: 3px solid #021a48;
  border-radius: 20px;
  background: #9ce9f6;
  color: #021a48;
}
.copy-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.copy-icon:hover {
  color: #ffaf01;
}
.calc-display {
  text-align: right;
  background: #9ce9f6;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.calc-display::selection {
  background: none;
}

.btn {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 34px;
  text-align: center;
  font-weight: bold;
  color: #021a48;
  cursor: pointer;
  user-select: none;
  border: solid 3px #021a48;
}

.btn:hover::before {
  content: attr(value);
  position: absolute;
  padding: 5px;
  border-radius: 50%;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .btn:hover::before {
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    padding: 3px;
  }

  .copy-icon {
    font-size: 20px;
  }
  .calculator {
    display: grid;
    width: 335px;
    height: 500px;
    grid-template-rows: 1fr 7fr;
  }

  .buttons-tablo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
  }
  .btn {
    font-size: 20px;
    border-radius: 50px;
  }
  .calc-display {
    font-size: 20px;
  }

  .percent-btn {
    grid-column: 3;
    grid-row: 1;
  }

  .square-root-btn {
    grid-column: 1;
    grid-row: 2;
  }

  .power-btn {
    grid-column: 2;
    grid-row: 2;
  }

  .switch-sign-btn {
    grid-column: 3;
    grid-row: 2;
  }
  .plus-btn {
    grid-column: 4;
    grid-row: 3;
  }
  .minus-btn {
    grid-column: 4;
    grid-row: 4;
  }

  .btn-4 {
    grid-column: 1;
    grid-row: 4;
  }
  .btn-5 {
    grid-column: 2;
    grid-row: 4;
  }
  .btn-6 {
    grid-column: 3;
    grid-row: 4;
  }
  .btn-1 {
    grid-column: 1;
    grid-row: 5;
  }
  .btn-2 {
    grid-column: 2;
    grid-row: 5;
  }
  .btn-3 {
    grid-column: 3;
    grid-row: 5;
  }
  .result-operation-btn {
    grid-row: span 2;
    border-radius: 50px;
  }

  .btn-0 {
    grid-column: 1 / 3;
    border-radius: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .copy-icon {
    font-size: 30px;
  }
  .btn:hover::before {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding: 5px;
  }
  .calculator {
    display: grid;
    width: 700px;
    height: 900px;
    grid-template-rows: 1fr 7fr;
  }
  .buttons-tablo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
  }
  .btn {
    font-size: 40px;
    border-radius: 30px;
  }
  .calc-display {
    font-size: 40px;
  }

  .percent-btn {
    grid-column: 3;
    grid-row: 1;
  }

  .square-root-btn {
    grid-column: 1;
    grid-row: 2;
  }

  .power-btn {
    grid-column: 2;
    grid-row: 2;
  }

  .switch-sign-btn {
    grid-column: 3;
    grid-row: 2;
  }
  .plus-btn {
    grid-column: 4;
    grid-row: 3;
  }
  .minus-btn {
    grid-column: 4;
    grid-row: 4;
  }

  .btn-4 {
    grid-column: 1;
    grid-row: 4;
  }
  .btn-5 {
    grid-column: 2;
    grid-row: 4;
  }
  .btn-6 {
    grid-column: 3;
    grid-row: 4;
  }
  .btn-1 {
    grid-column: 1;
    grid-row: 5;
  }
  .btn-2 {
    grid-column: 2;
    grid-row: 5;
  }
  .btn-3 {
    grid-column: 3;
    grid-row: 5;
  }
  .result-operation-btn {
    grid-row: span 2;
  }

  .btn-0 {
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1200px) {
  .copy-icon {
    font-size: 40px;
  }
  .btn:hover::before {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 25px;
    padding: 5px;
  }
  .calculator {
    display: grid;
    grid-template-rows: 2fr 6fr;
    width: 1000px;
    height: 800px;
  }
  .btn {
    font-size: 60px;
    border-radius: 30px;
  }
  .buttons-tablo {
    grid-template-columns: repeat(6, 1fr);
  }
  .calc-screen {
    display: grid;
    grid-template-rows: 1fr;
    padding: 10px;
  }

  .calc-display {
    font-size: 70px;
  }

  .buttons-tablo {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
  }

  .result-operation-btn {
    border-radius: 34px;
    grid-row: span 2;
  }

  .btn-0 {
    grid-column: 1 / 3;
  }
}

.main-operation-btn {
  background: #ffaf01;
}

.additional-operation-btn {
  background: #fddb24;
}

.digit-btn {
  background: #4ec1d6;
}

.main-operation-btn:hover::before {
  background: #ffaf01;
  color: #021a48;
}

.additional-operation-btn:hover::before {
  background: #fddb24;
  color: #021a48;
}

.digit-btn:hover::before {
  background: #4ec1d6;
  color: #fff;
}

.digit-btn:hover {
  border: solid 1px #fddb24;
}

.btn:hover {
  background-size: 100% 100%;
  color: transparent;
}

.btn-1:hover {
  background-image: url('../images/btn-1.jpg');
}

.btn-2:hover {
  background-image: url('../images/btn-2.jpg');
}

.btn-3:hover {
  background-image: url('../images/btn-3.jpg');
}

.btn-4:hover {
  background-image: url('../images/btn-4.jpg');
}

.btn-5:hover {
  background-image: url('../images/btn-5.jpg');
}

.btn-6:hover {
  background-image: url('../images/btn-6.jpg');
}

.btn-7:hover {
  background-image: url('../images/btn-7.jpg');
}

.btn-8:hover {
  background-image: url('../images/btn-8.jpg');
}

.btn-9:hover {
  background-image: url('../images/btn-9.jpg');
}

.btn-0:hover {
  background-image: url('../images/btn-0.webp');
}

.decimal-btn:hover {
  background-image: url('../images/btn-decimal.jpg');
}

.result-operation-btn:hover {
  background-image: url('../images/btn-result-2.jpg');
  background-size: 100% 100%;
}

.devide-btn:hover {
  background-image: url('../images/devide-btn.jpg');
}

.multiply-btn:hover {
  background-image: url('../images/multiply-btn.jpg');
}

.minus-btn:hover {
  background-image: url('../images/minus-btn.jpg');
}

.plus-btn:hover {
  background-image: url('../images/plus-btn.jpg');
}

.clearAll-btn:hover {
  background-image: url('../images/clearAll-btn.jpg');
}

.delete-btn:hover {
  background-image: url('../images/delete-btn.jpg');
}

.percent-btn:hover {
  background-image: url('../images/percent-btn.jpg');
}

.power-btn:hover {
  background-image: url('../images/power-btn.jpg');
}

.square-root-btn:hover {
  background-image: url('../images/square-root-btn.jpg');
}

.switch-sign-btn:hover {
  background-image: url('../images/switch-sign-btn.jpg');
}
